In [7]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [9]:
data = pd.read_csv('uber.csv', index_col=0)

In [10]:
data

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
24238194,2015-05-07 19:52:06.0000003,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
27835199,2009-07-17 20:04:56.0000002,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
44984355,2009-08-24 21:45:00.00000061,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
25894730,2009-06-26 08:22:21.0000001,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
17610152,2014-08-28 17:47:00.000000188,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5
...,...,...,...,...,...,...,...,...
42598914,2012-10-28 10:49:00.00000053,3.0,2012-10-28 10:49:00 UTC,-73.987042,40.739367,-73.986525,40.740297,1
16382965,2014-03-14 01:09:00.0000008,7.5,2014-03-14 01:09:00 UTC,-73.984722,40.736837,-74.006672,40.739620,1
27804658,2009-06-29 00:42:00.00000078,30.9,2009-06-29 00:42:00 UTC,-73.986017,40.756487,-73.858957,40.692588,2
20259894,2015-05-20 14:56:25.0000004,14.5,2015-05-20 14:56:25 UTC,-73.997124,40.725452,-73.983215,40.695415,1
11951496,2010-05-15 04:08:00.00000076,14.1,2010-05-15 04:08:00 UTC,-73.984395,40.720077,-73.985508,40.768793,1

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 200000 entries, 24238194 to 11951496
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   key                200000 non-null  object
 1   fare_amount        200000 non-null  float64
 2   pickup_datetime    200000 non-null  object
 3   pickup_longitude   200000 non-null  float64
 4   pickup_latitude    200000 non-null  float64
 5   dropoff_longitude  199999 non-null  float64
 6   dropoff_latitude   199999 non-null  float64
 7   passenger_count    200000 non-null  int64
dtypes: float64(5), int64(1), object(2)
memory usage: 13.7+ MB

In [12]:
data.dropna(inplace=True)

In [13]:
data.describe()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
count,199999.000000,199999.000000,199999.000000,199999.000000,199999.000000,199999.000000
mean,11.359892,-72.527631,39.935881,-72.525292,39.923890,1.684543
std,9.901760,11.437815,7.720558,13.117408,6.794829,1.385995
min,-52.000000,-1340.648410,-74.015515,-3356.666300,-881.985513,0.000000
25%,6.000000,-73.992065,40.734796,-73.991407,40.733823,1.000000
50%,8.500000,-73.981823,40.752592,-73.980093,40.753042,1.000000
75%,12.500000,-73.967154,40.767158,-73.963658,40.768001,2.000000
max,499.000000,57.418457,1644.421482,1153.572603,872.697628,208.000000

In [16]:
Q1 = data['pickup_longitude'].quantile(0.25)
Q3 = data['pickup_longitude'].quantile(0.75)

In [17]:
IQR = Q3 - Q1

In [18]:
IQR

np.float64(0.024910999999988803)

In [19]:
Min = Q1 - 1.5 * IQR
Max = Q3 + 1.5 * IQR

In [21]:
Max

np.float64(-73.92978750000003)

In [22]:
Min

np.float64(-74.02943149999999)

In [29]:
data[(data['pickup_longitude']<Min) | (data['pickup_longitude']>Max)].shape[0]/data.shape[0]*100

6.779533897669489

In [26]:
mu = data['pickup_longitude'].mean()
std = data['pickup_longitude'].std()
z = (data['pickup_longitude'] - mu)/std

In [28]:
data[z>3].shape[0]/data.shape[0]*100

1.9645098225491129

In [30]:
data = data[z<=3]

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 196070 entries, 24238194 to 11951496
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   key                196070 non-null  object
 1   fare_amount        196070 non-null  float64
 2   pickup_datetime    196070 non-null  object
 3   pickup_longitude   196070 non-null  float64
 4   pickup_latitude    196070 non-null  float64
 5   dropoff_longitude  196070 non-null  float64
 6   dropoff_latitude   196070 non-null  float64
 7   passenger_count    196070 non-null  int64
dtypes: float64(5), int64(1), object(2)
memory usage: 13.5+ MB

In [32]:
data.describe()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
count,196070.000000,196070.000000,196070.000000,196070.000000,196070.000000,196070.000000
mean,11.345924,-74.002205,40.762004,-73.924169,40.721606,1.684847
std,9.810599,4.679959,3.806387,7.897635,2.458244,1.387736
min,-52.000000,-1340.648410,0.000000,-3356.666300,-0.563333,0.000000
25%,6.000000,-73.992277,40.736444,-73.991588,40.735242,1.000000
50%,8.500000,-73.982109,40.753305,-73.980517,40.753718,1.000000
75%,12.500000,-73.968353,40.767551,-73.965289,40.768324,2.000000
max,499.000000,-67.370360,1644.421482,0.000213,872.697628,208.000000

In [33]:
mu = data['pickup_latitude'].mean()
std = data['pickup_latitude'].std()
z = (data['pickup_latitude'] - mu)/std
data[z>3].shape[0]/data.shape[0]*100
data = data[z<=3]

In [34]:
data[z>3].shape[0]/data.shape[0]*100

C:\Users\MBAhmadi\AppData\Local\Temp\ipykernel_25420\132079712.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data[z>3].shape[0]/data.shape[0]*100

0.0

In [37]:
mu = data['dropoff_latitude'].mean()
std = data['dropoff_latitude'].std()
z = (data['dropoff_latitude'] - mu)/std
print(data[z>3].shape[0]/data.shape[0]*100)
data = data[z<=3]

0.0005102353205298283

In [38]:
data.reset_index(drop=True, inplace=True)

In [39]:
data.describe()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
count,195987.000000,195987.000000,195987.000000,195987.000000,195987.000000,195987.000000
mean,11.345631,-73.995987,40.749775,-73.907767,40.714842,1.684943
std,9.809852,3.704408,0.185952,2.722321,1.211225,1.387911
min,-52.000000,-768.550000,0.000000,-737.916665,-0.563333,0.000000
25%,6.000000,-73.992279,40.736431,-73.991592,40.735233,1.000000
50%,8.500000,-73.982113,40.753288,-73.980522,40.753708,1.000000
75%,12.500000,-73.968373,40.767521,-73.965318,40.768307,2.000000
max,499.000000,-67.370360,41.289703,0.000213,42.424147,208.000000

In [40]:
mu = data['dropoff_longitude'].mean()
std = data['dropoff_longitude'].std()
z = (data['dropoff_longitude'] - mu)/std
print(data[z>3].shape[0]/data.shape[0]*100)
data = data[z<=3]

0.09541449177751586

In [41]:
data.reset_index(drop=True, inplace=True)

In [42]:
data.describe()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
count,195800.000000,195800.000000,195800.000000,195800.000000,195800.000000,195800.000000
mean,11.341535,-73.996014,40.749779,-73.977823,40.749596,1.684985
std,9.797694,3.706176,0.186037,1.500982,0.230161,1.387909
min,-52.000000,-768.550000,0.000000,-737.916665,0.737003,0.000000
25%,6.000000,-73.992278,40.736434,-73.991600,40.735312,1.000000
50%,8.500000,-73.982113,40.753295,-73.980543,40.753732,1.000000
75%,12.500000,-73.968376,40.767522,-73.965403,40.768321,2.000000
max,499.000000,-67.370360,41.289703,-69.046738,42.424147,208.000000

In [43]:
pip install geopy

Collecting geopy
  Downloading geopy-2.4.1-py3-none-any.whl.metadata (6.8 kB)
Collecting geographiclib<3,>=1.52 (from geopy)
  Downloading geographiclib-2.0-py3-none-any.whl.metadata (1.4 kB)
Downloading geopy-2.4.1-py3-none-any.whl (125 kB)
Downloading geographiclib-2.0-py3-none-any.whl (40 kB)
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-2.0 geopy-2.4.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [44]:
from geopy.distance import geodesic

In [ ]:
i = 0
data.loc[i, 'pickup_latitude']yeki s