# Python If ... Else

In [12]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [2]:
a = 33
b = 200
if b > a:
 print("b is greater than a") # you will get an error

IndentationError: expected an indented block after 'if' statement on line 3 (1443227691.py, line 4)

In [4]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [8]:
a = 200
b = 233
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

b is greater than a

In [10]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [14]:
if a > b: print("a is greater than b")

a is greater than b

In [16]:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [22]:
a = 3130
b = 3330
print("A") if a > b else print("=") if a == b else print("B")

B

In [32]:
a = 200
b = 33
c = 300
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [34]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [40]:
a = 33
b = 200
if not a > b:
  print("a is NOT greater than b")

a is NOT greater than b

In [44]:
x = 15

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
but not above 20.

In [46]:
a = 33
b = 200

if b > a:
  pass

# while

In [48]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [50]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [53]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [55]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

# for loops

In [58]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [60]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [62]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [64]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [66]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [68]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [70]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [72]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [74]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [76]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

In [78]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [80]:
for x in [0, 1, 2]:
  pass

# Python Functions

In [83]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [85]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [87]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

In [89]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil")

TypeError: my_function() missing 1 required positional argument: 'lname'

In [91]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [93]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [95]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [101]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [103]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [105]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [107]:
def my_function(x, /):
  print(x)

my_function(3)

3

In [113]:
def my_function(x):
  print(x)

my_function(x = 3)

3

In [119]:
def my_function(x, /):
  print(x)

my_function(x = 3)

TypeError: my_function() got some positional-only arguments passed as keyword arguments: 'x'

In [121]:
def my_function(*, x):
  print(x)

my_function(x = 3)

3

In [125]:
def my_function(*, x):
  print(x)

my_function(x = 3)

3

In [127]:
def my_function(*, x):
  print(x)

my_function(3)

TypeError: my_function() takes 0 positional arguments but 1 was given

In [129]:
def my_function(a, b, /, *, c, d):
  print(a + b + c + d)

my_function(5, 6, c = 7, d = 8)

26

In [131]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

# Python Lambda

In [136]:
x = lambda a : a + 10
print(x(15))

25

In [138]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [140]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [142]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

In [144]:
def myfunc(n):
  return lambda a : a * n

mytripler = myfunc(3)

print(mytripler(11))

33

In [146]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

# Python Classes and Objects

In [49]:
class MyClass:
  x = 5
  y = 10

In [52]:
p1 = MyClass()
print(p1.x**2+p1.y+1)

36

In [55]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)
p2 = Person("mba", 45)

print(p1.name, p2.name)
print(p1.age, p2.age)

John mba
36 45

In [30]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1)

<__main__.Person object at 0x0000022CF9BAB230>

In [61]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    return f"{self.name} and his age is: {self.age} year \n"

p1 = Person("John", 36)
p2 = Person("mba", 45)

print(p1, p2)

John and his age is: 36 year
 mba and his age is: 45 year

In [32]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [33]:
class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

# Python Arrays

In [2]:
cars = ["Ford", "Volvo", "BMW"]

In [9]:
cars[0]

'Toyota'

In [4]:
x = cars[0]

In [5]:
x

'Ford'

In [6]:
cars[0] = "Toyota"

In [7]:
cars

['Toyota', 'Volvo', 'BMW']

In [11]:
x = len(cars)

In [12]:
x

3

In [13]:
for x in cars:
    print(x)

Toyota
Volvo
BMW

In [15]:
cars.append("Honda")

In [16]:
cars

['Toyota', 'Volvo', 'BMW', 'Honda']

In [17]:
cars.pop(1)

'Volvo'

In [18]:
cars

['Toyota', 'BMW', 'Honda']

In [19]:
cars.append("Volvo")

In [20]:
cars

['Toyota', 'BMW', 'Honda', 'Volvo']

In [22]:
cars.count("BMW")

1

In [23]:
cars.sort()

In [24]:
cars

['BMW', 'Honda', 'Toyota', 'Volvo']

In [25]:
cars.reverse()

In [26]:
cars

['Volvo', 'Toyota', 'Honda', 'BMW']

# Python Inheritance

In [65]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

#Use the Person class to create an object, and then execute the printname method:

x = Person("John", "Doe")
x.printname()

John Doe

In [66]:
class Student(Person):
  pass

In [67]:
y = Student("Mike", "Olsen")
y.printname()

Mike Olsen

In [69]:
class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year
  def welcome(self):
    print("Welcome", self.firstname, self.lastname, "to the class of", self.graduationyear)
x = Student("Mike", "Olsen", 2019)

In [70]:
x.welcome()

Welcome Mike Olsen to the class of 2019

# Python Iterators

In [71]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

In [1]:
mystr = "banana"
myit = iter(mystr)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

b
a
n
a
n
a

In [76]:
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    x = self.a
    self.a += 1
    return x

myclass = MyNumbers()
myiter = iter(myclass)

print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

1
2
3
4
5
6
7
8
9
10

In [77]:
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    if self.a <= 20:
      x = self.a
      self.a += 1
      return x
    else:
      raise StopIteration

myclass = MyNumbers()
myiter = iter(myclass)

for x in myiter:
  print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [78]:
class Car:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Drive!")

class Boat:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Sail!")

class Plane:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang")       #Create a Car class
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat class
plane1 = Plane("Boeing", "747")     #Create a Plane class

for x in (car1, boat1, plane1):
  x.move()

Drive!
Sail!
Fly!

In [79]:
class Vehicle:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Move!")

class Car(Vehicle):
  pass

class Boat(Vehicle):
  def move(self):
    print("Sail!")

class Plane(Vehicle):
  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang") #Create a Car object
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat object
plane1 = Plane("Boeing", "747") #Create a Plane object

for x in (car1, boat1, plane1):
  print(x.brand)
  print(x.model)
  x.move()

Ford
Mustang
Move!
Ibiza
Touring 20
Sail!
Boeing
747
Fly!

In [2]:
def myfunc():
  x = 300
  print(x)

myfunc()

300

In [3]:
def myfunc():
  x = 300
  def myinnerfunc():
    print(x)
  myinnerfunc()

myfunc()

300

In [4]:
x = 300

def myfunc():
  x = 200
  print(x)

myfunc()

print(x)

200
300

In [8]:
def myfunc():
  global xz
  xz = 300

myfunc()

print(xz)

300

In [9]:
x = 300

def myfunc():
  global x
  x = 200

myfunc()

print(x)

200

In [10]:
def myfunc1():
  x = "Jane"
  def myfunc2():
    nonlocal x
    x = "hello"
  myfunc2()
  return x

print(myfunc1())

hello

In [17]:
def greeting(name):
  print("Hello, " + name)

greeting("ali")

Hello, ali

In [24]:
import mymodule

mymodule.greeting("Jonathan")

AttributeError: module 'mymodule' has no attribute 'greeting'

In [20]:
import mymodule

a = mymodule.person1["age"]
print(a)

36

In [25]:
import mymodule as mx

a = mx.person1["age"]
print(a)

36

In [26]:
import platform

x = platform.system()
print(x)

Windows

In [27]:
import platform

x = dir(platform)
print(x)

['_Processor', '_WIN32_CLIENT_RELEASES', '_WIN32_SERVER_RELEASES', '__builtins__', '__cached__', '__copyright__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '__version__', '_comparable_version', '_default_architecture', '_follow_symlinks', '_get_machine_win32', '_java_getprop', '_mac_ver_xml', '_node', '_norm_version', '_os_release_cache', '_os_release_candidates', '_parse_os_release', '_platform', '_platform_cache', '_sys_version', '_sys_version_cache', '_syscmd_file', '_syscmd_ver', '_uname_cache', '_unknown_as_blank', '_ver_stages', '_win32_ver', '_wmi', '_wmi_query', 'architecture', 'collections', 'freedesktop_os_release', 'functools', 'itertools', 'java_ver', 'libc_ver', 'mac_ver', 'machine', 'node', 'os', 'platform', 'processor', 'python_branch', 'python_build', 'python_compiler', 'python_implementation', 'python_revision', 'python_version', 'python_version_tuple', 're', 'release', 'sys', 'system', 'system_alias', 'uname', 'uname_result', 'version', 'win32_edition', 'win32_is_iot', 'win32_ver']

In [28]:
from mymodule import person1

print (person1["age"])

36

In [1]:
from mymodule import person1

print (person1["name"])

John