<a href="https://colab.research.google.com/github/MBAhmadi/ML-Learning/blob/main/project1_boot27.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Problem 1: Basic Printing and Data Types

1. Write a Python program that prints the following text:
    - Hello, World!
    - Python programming is fun!
2. Write a Python program that creates the following variables and prints their types:
    - A string variable with your name
    - An integer variable with your age
    - A float variable with your height
    - A boolean variable indicating if you are a student

**Solving the problem 1.1**

In [ ]:
print("Hello, World!")
print("Python programming is fun!")

Hello, World!
Python programming is fun!

**Solving the problem 1.2**

In [ ]:
name = "MBAhmadi"
age = 45
height = 175
is_student = True

print("Type of name:", type(name))
print("Type of age:", type(age))
print("Type of height:", type(height))
print("Type of is_student:", type(is_student))

Type of name: <class 'str'>
Type of age: <class 'int'>
Type of height: <class 'float'>
Type of is_student: <class 'bool'>

# Problem 2: If Conditions

1. Write a Python program that checks if a number is positive, negative, or zero. The number should be assigned to a variable.
2. Write a Python program that checks if a given year is a leap year. (A leap year is divisible by 4, but not every year divisible by 4 is a leap year; it also needs to be divisible by 400 if it is divisible by 100.)

**Solving the problem 2.1**

In [ ]:
number = int(input("Enter The number: "))

if number > 0:
    print("The number is positive.")
elif number < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

Enter The number: -189
The number is negative.

**Solving the problem 2.2**

In [ ]:
year = int(input("Enter The year: "))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

Enter The year: 1240
1240 is a leap year.

# Problem 3: For Loop
1. Write a Python program that prints the numbers from 1 to 10 using a for loop.
2. Write a Python program that calculates the sum of all even numbers from 1 to 100 using a for loop.
3. Write a Python program that iterates over a list of strings and prints each string with its length.

**Solving the problem 3.1**

In [ ]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

**Solving the problem 3.2**

In [ ]:
sum_of_evens = 0
for i in range(1, 101):
    if i % 2 == 0:
        sum_of_evens += i

print("Sum of all even numbers from 1 to 100 is:", sum_of_evens)

Sum of all even numbers from 1 to 100 is: 2550

**Another solution to problem 3.2**

In [1]:
sum_of_evens = 0
for i in range(1, 101):
    if i % 2 != 0:
      continue
    sum_of_evens += i

print("Sum of all even numbers from 1 to 100 is:", sum_of_evens)

Sum of all even numbers from 1 to 100 is: 2550

**Solving the problem 3.3**

In [ ]:
strings = ["apple", "banana", "cherry", "date", "MBAhmadi", "ON Academy"]

for string in strings:
    print(f"{string}: {len(string)}")

apple: 5
banana: 6
cherry: 6
date: 4
MBAhmadi: 8
ON Academy: 10